.new_page {
  display: block;
  background-color: rgb(174, 174, 178);
  /* justify-content: center;
  align-items: center; */
  height: 100vh;
  /* background-image: url("https://images.barrons.com/im-338004?width=620&size=1.300990099009901");
  background-repeat: no-repeat;
  background-size: cover; */
}

.new_page h2 {
  color: white;
  padding: 10px;
}
.new_form {
  margin-top: 10px;
  margin-left: 10px;
  padding: 35px;
  background-color: rgb(246, 244, 237);
  display: grid;

  margin-left: auto;
  margin-right: auto;

  width: 60%;
  height: 50%;
  border-radius: 10px;
}

input {
  margin-bottom: 10px;
  margin-top: 10px;
}

.back_button {
  width: 8%;
  height: 36px;
  /* padding: 6px; */
  background-color: rgb(208, 207, 209);
  color: rgb(22, 11, 37);
  margin-top: 10px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 8%;
  height: 36px;
  padding: 6px;
  background-color: rgb(240, 237, 199);
  position: relative;
}
