.navbar {
  padding: 15px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(222, 161, 155);
}

.nav_link {
  font-size: 16px;
  text-decoration: none;
  color: rgb(39, 24, 71);
  font-weight: bold;
}
