.transactions_index {
  border: 1px solid black;
  padding: 10px;
  height: 100vh;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(242, 235, 225);
  border-radius: 10px;
  color: rgb(54, 51, 51);
}

.transaction_item {
  background-color: rgb(117, 112, 117);

  /* margin-top: 10px; */
  margin: 30px;
  border-radius: 10px;
}

.headers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 10px;
  text-align: center;
  align-items: center;
  color: white;
}

.item:hover {
  letter-spacing: 1.7px;
  color: rgb(29, 108, 97);
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  margin-top: 10px;
  border: 1px solid rgb(181, 180, 180);
  padding: 0.5rem;
  text-align: center;
  color: rgb(56, 48, 48);
  background-color: rgb(228, 235, 236);
  margin: 8px;
}

.index_page {
  margin: 8px;
}

.index_page h3 {
  margin-left: 10px;
}

@media (max-width: 767px) {
  .transaction_item {
    background-color: rgb(122, 110, 122);
  }
}
